extends layout/main
block title
  title maslo
block pagecontent
  .container
    .img-wrapper
      picture
        source(media="(min-width: 992px)" srcset='img/1-des.png')
        img.img(src='img/1.png' alt='photo-car.jpg')
    h1 Немецкое моторное<br> масло для вашего авто
    .cost от 445 ₽ за литр
    .subtitle Продлевает жизнь всех агрегаторов
    .subtitle-small Получите подробную консультацию по выбору масла для вашего автомобиля в WhatsApp
    a.link(href='#')
      img(src='img/wp.png' alt='wp')
      span Перейти в WhatsApp


